template(name='layout')
    .ui.three.item.menu.inverted
        a.header.item(href='/') Home
        a.item
            +loginButtons
    .ui.container
        +yield

template(name='posts')
    +quickForm collection="Posts" id="add" type="insert" validation='blur'
    +tags
    .ui.relaxed.divided.list
        each posts
            .item
                each tags
                    .ui.label
                        |#{this}

template(name='tags')
    each tags
        .ui.label
            |#{_id}
            .detail= count