template(name='layout')
    // .ui.three.item.menu.inverted
    //     a.header.item(href='/') Home
    //     a.item
    //         +loginButtons
    .ui.container
        +yield

template(name='posts')
    .ui.segment
        +quickForm collection="Posts" id="add" type="insert" validation='blur'
    .ui.segment
        +tags
    .ui.relaxed.divided.list.segment
        each posts
            .item
                each tags
                    .ui.label
                        |#{this}

template(name='tags')
    .ui.segment
        each filter
            button.ui.button.icon.small
                i.icon.remove
            | #{this}
    each tags
        .button.ui.label.ftag
            span.id= _id
            .detail= count

