.bs
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box

.segment > .ui.button
    margin .25em !important

body
    background-color whitesmoke

.layout
    margin-top 3em