.bs
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box

.ui.segment
    background-color whitesmoke !important

.tagCloud > .ui.button
    margin .25em !important

.docContent > i.icon
    margin-left 1em !important

.ui.segment.tagCloud
    padding .25em

body
    background-color grey

// .layout
//     margin-top 3em