template(name='layout')
    .ui.container
        +yield

template(name='posts')
    .ui.segment
        +quickForm collection="Posts" id="add" type="insert" validation='blur' buttonContent='Add Post'
    .ui.segment
        +tags
    .ui.relaxed.divided.list.segment
        each posts
            .item
                .ui.horizontal.relaxed.list
                    .item
                        .ui.tiny.basic.buttons
                            .ui.button.icon.voteUp
                                i.icon.thumbs.outline.up
                            .ui.button.icon.voteDown
                                i.icon.thumbs.outline.down
                    .item
                        .ui.horizontal.list
                            each tags
                                .item
                                    |#{this}
                    .item
                        if isOwner
                            .ui.button.icon.removePost.tiny
                                i.icon.remove

template(name='tags')
    .ui.segment
        p Current Filter:
            each filter
                button.ui.tiny.button.icon.removeTag
                    i.icon.remove
                | #{this}
    each tags
        .button.ui.label.ftag
            span.id= _id
            .detail= count

