.bs {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.blocked {
    display: inline !important
}

.ui.segment {
    background-color: whitesmoke !important
}

.nope {
    margin-top: 0 !important
}

body {
    background-color: grey;
}

.ui.button {
    margin: .5em 0.25em 0em 0em !important
}