.bs {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.blocked {
    display: inline !important
}

/*body {*/
/*    background-color: darkgrey;*/
/*}*/

.nope {
    margin-top: 0 !important
}